src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

	<flow name="getContactFlow" doc:id="b83ddcce-95a1-4997-a01e-7ac5a2fca166">
		<salesforce:query doc:name="Get Contact"
			doc:id="8fbc4042-b891-4f49-a07b-cf92284caa7e" config-ref="Salesforce_Config">
			<salesforce:salesforce-query>SELECT Id, FirstName, LastName,
				MailingStreet, MailingCity, MailingPostalCode, MailingState,
				MailingCountry, Phone, Email, Birthdate  FROM Contact WHERE Email = ':Email'
			</salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	"Email" : attributes.queryParams.email
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Does Contact Exist?" doc:id="cd5bd055-98a7-4246-a271-b386e7c8117c">
			<when expression="#[sizeOf(payload) != 0]">
				<ee:transform doc:name="Create JSON response"
					doc:id="6778d80f-dc74-46c0-8fad-8643ffc5e4a9">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
	id : $.Id,
	first_name: $.FirstName,
	last_name: $.LastName,
	address: {
		address_line_1: $.MailingStreet,
		city: $.MailingCity,
		zip_code: $.MailingPostalCode,
		state: $.MailingState,
		country: $.MailingCountry
	},
	display_name: $.FirstName! ++ " " ++ $.LastName!,
	phone: $.Phone,
	email: $.Email,
	date_of_birth: $.Birthdate
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Create JSON response"
					doc:id="3fc530ed-e14c-4f16-a6ac-47c26d1457aa"
					xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Resource not found"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>


	</flow>

	<flow name="postContactFlow">
		<ee:transform doc:name="Map input to sfdc Contact"
			doc:id="182483b7-b5c8-434c-8864-d7cfbbc6ef39">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{	
	(FirstName: payload.first_name) if (not isEmpty(payload.first_name)),
	(LastName: payload.last_name) if (not isEmpty(payload.last_name)),
	(MailingStreet: payload.address_line_1) if (not isEmpty(payload.address_line_1)),
	(MailingCity: payload.address.city) if (not isEmpty(payload.address.city)),
	(MailingPostalCode: payload.address.zip_code) if (not isEmpty(payload.address.zip_code)),
	(MailingState: payload.address.state) if (not isEmpty(payload.address.state)),
	(MailingCountry: payload.address.country) if (not isEmpty(payload.address.country)),
	(Phone: payload.phone) if (not isEmpty(payload.phone)),
	(Email: payload.email) if (not isEmpty(payload.email))
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create-single config-ref="Salesforce_Config"
			type="Contact" doc:name="Create Contact" doc:id="de62d54c-1bd9-44c1-a76d-e4de44993d50" >
			<reconnect-forever />
		</salesforce:create-single>
		<logger level="INFO" doc:name="Logger"
			doc:id="5d0464aa-efa8-4c1e-95d8-5562e2c001b6" message="#[output application/json --- payload]" />
		<ee:transform doc:name="Create JSON response"
			doc:id="3fc530ed-e14c-4f16-a6ac-47c26d1457aa"
			xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Contact was created",
  id: payload.id
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>

	</flow>
	<flow name="putContactFlow" doc:id="b83ddcce-95a1-4997-a01e-7ac5a2fca166">
		<ee:transform doc:name="Input transform"
			doc:id="123302f9-bbcd-42d8-a29f-0b59d60d4800">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="updatedContact"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Query Contact ID by Email"
			doc:id="8fbc4042-b891-4f49-a07b-cf92284caa7e" config-ref="Salesforce_Config">
			<salesforce:salesforce-query>SELECT Id FROM Contact WHERE Email =
				':Email' Limit 1</salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"Email" : attributes.queryParams.email
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Does user with the login exist?" doc:id="cd5bd055-98a7-4246-a271-b386e7c8117c">
			<when expression="#[sizeOf(payload) != 0]">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:id="f36857db-efab-43e3-85e8-97f68ece0680" doc:name="API Contact to Salesforce Contact">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{	
	Id: payload.Id[0],
	FirstName: if (not isEmpty(vars.updatedContact.first_name)) vars.updatedContact.first_name else "",
	LastName: if (not isEmpty(vars.updatedContact.last_name)) vars.updatedContact.last_name else "",
	MailingStreet: if (not isEmpty(vars.updatedContact.address.address_line_1)) vars.updatedContact.address.address_line_1 else "",
	MailingCity: if (not isEmpty(vars.updatedContact.address.city)) vars.updatedContact.address.city else "",
	MailingPostalCode:  if (not isEmpty(vars.updatedContact.address.zip_code)) vars.updatedContact.address.zip_code else "",
	MailingState:  if (not isEmpty(vars.updatedContact.address.state)) vars.updatedContact.address.state else "",
	MailingCountry: if (not isEmpty(vars.updatedContact.address.country)) vars.updatedContact.address.country else "",
	Phone: if (not isEmpty(vars.updatedContact.phone)) vars.updatedContact.phone else ""
	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<salesforce:update-single type="Contact"
					doc:name="Update Contact" doc:id="f25ab2e0-07aa-458e-ab0d-2f709c519026"
					config-ref="Salesforce_Config" />
				<logger level="INFO" doc:name="Logger" doc:id="17b08de1-6899-47f3-95c9-f9c5b149182a" message="#[output application/json --- payload]"/>
				<ee:transform doc:name="Create JSON response"
					doc:id="709de452-74d1-4395-b466-19ef11bc1a7b"
					xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: if(isEmpty(payload.errors))"Contact was updated" else payload.errors,
  id: payload.id
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Create JSON response"
					doc:id="3fc530ed-e14c-4f16-a6ac-47c26d1457aa"
					xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Resource not found"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="deleteContactFlow" doc:id="b83ddcce-95a1-4997-a01e-7ac5a2fca166">
		<salesforce:query doc:name="Query Contact ID by Email"
			doc:id="8fbc4042-b891-4f49-a07b-cf92284caa7e" config-ref="Salesforce_Config">
			<salesforce:salesforce-query>SELECT Id FROM Contact WHERE Email =
				':Email' Limit 1</salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"Email" : attributes.queryParams.email
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Does Contact Exist?" doc:id="cd5bd055-98a7-4246-a271-b386e7c8117c">
			<when expression="#[sizeOf(payload) != 0]">
				<logger level="INFO" doc:name="Logger"
					doc:id="5c512df1-0371-400c-a3b6-556d2eda28a3"
					message='Contact to delete: Id: #[payload.Id], Type: #[payload."type"] ' />
				<salesforce:delete doc:name="Delete Contact by ID"
					doc:id="a520bdce-697d-410a-866c-c93424c1f4a3" config-ref="Salesforce_Config">
					<salesforce:delete-ids><![CDATA[#[payload.Id]]]></salesforce:delete-ids>
				</salesforce:delete>
				<ee:transform doc:name="Create JSON response"
					doc:id="875a5d66-c669-4fe6-aabb-fad4433d09be"
					xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully deleted",
  id: payload.id
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Create JSON response"
					doc:id="3fc530ed-e14c-4f16-a6ac-47c26d1457aa"
					xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Resource not found"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>


	</flow>
</mule>
